<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4"></span>
    </a>
    <ul class="nav nav-pills">
      <li class="fs-4"><a href="{% url 'customers' %}" class="nav-link">Список заказчиков</a></li>
    </ul>
    <ul class="nav nav-pills">
      <li class="fs-4"><a href="{% url 'executors' %}" class="nav-link">Список исполнителей</a></li>
    </ul>
    <ul class="nav nav-pills">
      <li class="fs-4"><a href="{% url 'admin:index' %}" class="nav-link">Админ панель</a></li>
    </ul>
  </header>
</div>